* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.herader {
  background-color: rgb(167, 167, 77);
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 155px;
}
.searchBox {
  position: relative;
}
.searchBox input {
  width: 500px;
  height: 45px;
  border-radius: 40px;
  padding: 20px 20px;
  font-size: 1rem;
  background-color: #f1f1f1;
  border: none;
}
.searchBox input:focus {
  outline: none;
  border: none;
}
.searchBox i {
  position: absolute;
  top: 15px;
  right: 20px;
}
ul {
  display: flex;
  gap: 22px;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #707070;
  font-size: 1rem;
}
/* header--complete */
.heroSection {
  max-width: 1220px;
  margin: 0 auto;
  max-height: 455px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feeae9;
  border-radius: 30px;
  padding: 65px 45px;
  margin-bottom: 65px;
}
.heroTextarea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heroTextarea h1 {
  font-size: 3.5rem;
  color: #1f1f1f;
}
.heroTextarea p {
  font-size: 1rem;
  color: #4e4e4e;
}
.heroTextarea h3 {
  font-size: 2.5rem;
  color: #ff136f;
  font-weight: 500;
}
.heroimg img {
  max-height: 400px;
  width: auto;
}
.buybtn {
  position: relative;
}
.buybtn button {
  padding: 16px 25px 15px 5px;
  width: 140px;
  background: #ff589b;
  border-radius: 10px;
  border: none;
  color: #ffff;
}
.buybtn i {
  position: absolute;
  top: 20px;
  left: 100px;
}
/* catagories  */
.catagories {
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.cataTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 22px;
}
.catagoriesItem {
  height: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  justify-content: center;
}
.item {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffff;
}
.item img {
  max-width: 90px;
  height: auto;
}
.watchitem {
  background-color: #FF9C35;
}
.bagitem {
  background-color: #FF589B;
}
.shoeitem {
  background-color: #4289FF;
}
